.stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.stat-card {
    background: #dac50c65;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.stat-title {
    color: #020202;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.stat-value {
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .stats-grid {
        grid-template-columns: 1fr;
    }
}
@media (prefers-color-scheme: dark) {
    .stat-card {
        background: white;
    }
}